<!-- get to Know Joel page with links -->

<h2>Meet the one and only Joel Hilton</h2>

<h4 style="font-style: italic">Join in and participate in his shows and podcasts!</h4>

<a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
<a href="https://baconsale.com/">Baconsale</a>

<img src="~/img/baconsale.jpg" />