@{
    ViewData["Title"] = "Meet Joel";
}
<div class="container">
    <div class="row align-content-center">
        <div style="margin-bottom: 50px;">
            <!-- Adjust the margin value as needed -->
            <h2>Meet the one and only Joel Hilton</h2>
            <h4 style="font-style: italic">Join in and participate in his shows and podcasts!</h4>
            <br />
            <img src="~/img/baconsale.jpg" height="350px" />
        </div>
        <!-- divide buttons into two columns ... to make it loock nice-->
        <div class="col-md-6">
            <button><a href="https://www.qwcomedy.com/">Quick Wits Comedy</a></button><br />
        </div>
        <div class="col-md-6">
            <button><a href="https://baconsale.com/">Baconsale</a></button>
        </div>
    </div>
</div>

