@{
    ViewData["Title"] = "Home Page";
}
<!-- Home Page - The Joel Hilton Film collection-->
<div class="align-text-center">
    <h3>Welcome to</h3>
    <h1>The Joel Hilton Film Collection</h1>
    <img src="~/img/joelhiltonheadshot.jpg" />
</div>
<br />
<div class="align-content-center">
    <p>Help us with our collection!</p>
    <!-- way to connect to the form view using a button to connect to it -->
    <button><a asp-controller="Home" asp-action="MovieCollForm">Join the Fun!</a></button>
</div>