@{
    ViewData["Title"] = "Home Page";
}
<!-- Home Page - The Joel Hilton Film collection-->
<div>
    <h3>Welcome to</h3>
    <h1>The Joel Hilton Film Collection</h1>
    <img src="~/img/joelhiltonheadshot.jpg" />
</div>
<br />
<div>
    <a asp-controller="Home" asp-action="MovieApplication">Share with us your favorite movie!</a>
</div>