<!-- Movie Collection Form... connects to database -->

@{
    ViewData["Title"] = "Movie Form";
}

@model MovieEntry
<div class="align-content-center">
    <h1>New Film to Collection Form</h1>
    <h4 style="font-style:italic">Enter info here : </h4>

    <!-- 
        the massive form that retrieves all users info, verifies to see if they entered the info correctly, and submit button pushes 
        results into sqlite database
    -->
    <br />
    <form method="post">
        <input type="hidden" asp-for="MovieId" />

        <!--
            this code uses the Category viewbag that helps connect the main Movies
            table with the other subtable (category)
        -->
        <label asp-for="Category">Category</label><br />
        <select asp-for="CategoryId" >
            <option value="">Select a Movie Category</option>
            @foreach (Category c in ViewBag.Categories)
            {
                <option value="@c.CategoryId">@c.CategoryName</option>
            }
        </select>

        <br /><br />
        <label asp-for="Title">Title</label><br />
        <input asp-for="Title" type="text" title="Please enter a Movie Title" required /><br />

        <br /><br />
        <label asp-for="Year">Year</label><br />
        <input asp-for="Year" type="text" pattern="\d{4}" title="Please enter a valid 4-digit year" required /><br />
        <span asp-validation-for="Year" class="text-danger"></span>

        <br /><br />
        <label asp-for="Director">Director</label><br /> 
        <input asp-for="Director" type="text" title="Please enter director(s) name(s)" /><br />
        
        <br /><br />
        <label asp-for="Rating">Rating</label><br />
        <select asp-for="Rating" id="rating" name="rating" >
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
        </select><br />
        <span asp-validation-for="Rating" class="text-danger"></span>

        <br /><br />
        <label asp-for="Edited">Edited</label><br />
        <select asp-for="Edited" id="edited" name="edited" required >
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br />
        <span asp-validation-for="Edited" class="text-danger"></span>

        <br /><br />
        <label asp-for="LentTo">Lent To</label><br />
        <input asp-for="LentTo" type="text" /><br />
        <span asp-validation-for="LentTo" class="text-danger"></span>

        <br /><br />
        <label asp-for="CopiedToPlex">Copied to Plex</label><br />
        <select asp-for="CopiedToPlex" id="CopiedToPlex" name="CopiedToPlex" required>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br />
        <span asp-validation-for="CopiedToPlex" class="text-danger"></span>

        <br /><br />
        <label asp-for="Notes">Notes</label><br />  <!--Notes should be limited to 25 characters.-->
        <input asp-for="Notes" type="text" /><br />
        <span asp-validation-for="Notes" class="text-danger"></span>

        <br /><br />

        <button type="submit">Submit Entry</button>

    </form>
</div>
