@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Success";
}
<!-- success page that is returned if user is successful in submitting their form -->
<div class="align-content-center">
    <h1>Success! Your entry has been submitted!</h1>

    <p>Enter another one?</p>

    <button><a href="MovieCollForm">Return to Form</a></button> <!-- fancy button to help them return back to the form -->
</div>
    