html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.bg-salmon {
    background-color: #fa8072; /* Change background color to salmon */
    color: #f8f8f8;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color:antiquewhite;
}

/* Custom style for buttons */
button {
    background-color: #fa8072; /* Salmon color for the button */
    color: #fff; /* White text color */
    border: none; /* Remove default border */
    border-radius: 8px; /* Rounded corners */
    padding: 10px 20px; /* Adjust padding for better appearance */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Specify font-family for titles */
    font-size: 16px; /* Adjust font size */
    cursor: pointer; /* Change cursor on hover */
    transition: background-color 0.3s ease; /* Add smooth transition effect */
}

    button:hover {
        background-color: #dc725e; /* Change background color on hover */
    }

h1 {
    font-family:'Bookman Old Style';
}

h2 {
    font-family: 'Bookman Old Style';
}

p {
    font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}